.merch-items {
    color: black;

    .merch-item {
        height: 24em;
        width: 19em;
        border: 2px black solid;
        border-radius: 5px;
        @media screen and (max-width: 700px) {
            height: 19em;
            width: 12em;
        }

        img {
            height: 19em;
            width: 19em;
            @media screen and (max-width: 700px) {
                height: 13em;
                width: 12em;
            }
        }

        .item-text {
            display: flex;
            justify-content: space-between;
            margin: 0px 5px 0px 5px;
            font-weight: 600;
        }
        .icon-wrapper {
            display: flex;
            width: 100%;
            flex-direction: row-reverse;

            .plus-icon {
                color: $logo-dark-peach;
                height: 50px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}